<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.otacle.remote.repository.ActionCommandMapper">
    <resultMap id="BaseResultMap" type="com.otacle.remote.model.ActionCommand">
        <id column="id" property="id"/>
        <result column="project_id" property="projectId"/>
        <result column="params" property="params"/>
        <result column="execute_flags" property="executeFlags"/>
        <result column="created_at" property="createdAt"/>
        <result column="executed_at" property="executedAt"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into action_commands(project_id, params, execute_flags, created_at, executed_at)
        values(#{projectId}, #{params}, #{executeFlags}, #{createdAt}, #{executedAt})
    </insert>

    <select id="selectById" resultMap="BaseResultMap">
        select * from action_commands where id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select * from action_commands
    </select>

    <select id="selectByProjectId" resultMap="BaseResultMap">
        select * from action_commands where project_id = #{projectId}
    </select>

    <update id="update">
        update action_commands set params = #{params}, execute_flags = #{executeFlags}, executed_at = #{executedAt} where id = #{id}
    </update>

    <delete id="deleteById">
        delete from action_commands where id = #{id}
    </delete>
</mapper>